@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.App {
  text-align: center;
}

header{
	height: 70vh;
	width: 100%;
	background-image: url('https://farm9.staticflickr.com/8503/8317796183_dd2719c1ea_b.jpg');
	background-color: rgb(30,90,50);
	background-blend-mode: soft-light; /*ajustar los background con el texto*/ 
	padding: 1px; /*quitar espacio arriba*/ 
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; /*pasar de filas a columnas*/ 
	background-size: cover;
	background-position: center;
}
.home-title{
  color: #fad000;
  font-weight: bold;
}



/*
css header responsive title desktop
*/

div.example {
	display: flex;
  	overflow: hidden;

}

@media screen and (min-width: 601px) {
  div.example {
  display: flex;
	width: 550px;
	height: 55px;
	font-family: 'Roboto', sans-serif;
   color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
	font-size: 48px;
	line-height: 58px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: hidden;

  }
   .list-name{
    list-style: none;
    padding-left: 8px;
    animation: desktop_screen 7s infinite;
  }
   ul,p {
	margin: 0;
  }
}
  @keyframes desktop_screen {
       0%   { margin-top: 0;}
       5%  { margin-top: 0;}

      10%  { margin-top: -60px;}
      15%  { margin-top: -55px;}

      20%  { margin-top: -115px;}
      25%  { margin-top: -115px;} 

      35%  { margin-top: -175px;}
      45%  { margin-top: -175px;}

      55% { margin-top: 0;}
   }

/*
css header responsive title mobile
*/
@media screen and (max-width: 600px) {
  div.example {
    display: flex;
    font-size: 25px;
    height: 30px;
    width: 280px;
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
  }
   .list-name{
    list-style: none;
    padding-left: 8px;
    animation: mobile_screen 7s infinite;
  }
   ul,p {
  margin: 0;
  }

}

  @keyframes mobile_screen {
      0%   { margin-top: 0;}
      5%  { margin-top: 0;}

      10%  { margin-top: -35px;}
      15%  { margin-top: -35px;}

      20%  { margin-top: -70px;}
      25%  { margin-top: -70px;}

      35%  { margin-top: -106px;}
      80%  { margin-top: -106px;}
      
      85% { margin-top: 0;}
   }


  #genero{
    background-color: black;
  }





















